$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

html {
  position: relative;
}

body {
    font-family: "MyCalibri", serif;
    background: linear-gradient(#21252c, #3a3030);
    background-size: 100% 7000px;
    margin-bottom: 1%;
}

.navbar {
    z-index: 0;
    background: none !important;
}

nav ul {
    display: flex;
}

nav a {
    padding-left: 1rem;
    color: azure;
    font-size: 2rem;
}

.navbar-brand {
    padding-right: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

nav li {
    padding-left: 8rem;
    color: azure;
}

.navbar-dark .navbar-nav .nav-link {
    color: azure;
    text-shadow: 0px 0px 3px black;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #a9d1d1;
    text-shadow: 0px 0px 5px #0f0f0f;
}

@media (max-width: 1680px) {
    nav li {
        padding-left: 3rem;
    }
}

@media (max-width: 1350px) {
    nav li {
        padding-left: 0.7rem;
    }
}

nav a:hover {
    color: #969696;
}

.jumbotron img {
    border-radius: 5px;
}

.card-deck {
    padding-left: 0rem;
}

@media (max-width: 575.98px) {
    .card-deck {
        padding-left: 5rem;
    }
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframeHolder {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.pageImg {
    height: 100%;
    position: fixed;
}

.logoContainer img {
    width: 100%;
}

.pageParagraph {
    padding-top: 1rem;
    color: black;
    font-size: 2rem;
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}

.jumbotron h1 {
    font-family: "MyBernadette", "MyCalibri", sans-serif;
}

.jumbotron img {
    border-radius: 5px;
}

.bigImgSM {
    display: none;
}

.halfDiv {
    display: inline-block;
    width: 49%;
    height: 100%;
}

.littleIcon {
    margin-top: 0.5rem;
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.5rem;
}

.littlerIcon {
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

@media (min-width:750px) {
    .jumbotronInnerDiv {
        width: 95%;
        padding-left: 5%;
    }
}

@media (max-width:850px) {
    .letterboxBottom {
        padding-bottom: 1rem;
    }

    .letterboxTop {
        padding-bottom: 1rem;
    }

    .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .bigImgSM {
        display: block;
    }

    .halfDiv {
        width: 100%;
        display: block;
    }

    .pageParagraph {
        padding-top: 1rem;
        color: black;
        font-size: 1.4rem;
    }
}

h1 {
    font-family: "MyFutura", serif;
    font-weight: 400;
    color: azure;
}

#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

@font-face {
    font-family: "MyCalibri";
    src: url("fonts/CalibriRegular.woff2") format("woff2");
    src: url("fonts/CalibriRegular.woff") format("woff");
}

@font-face {
    font-family: "MyFutura";
    src: url('fonts/FuturaHeavy.woff') format("woff");
    src: url('fonts/FuturaHeavy.woff2') format("woff2");
}
